@charset "utf-8";
/* CSS Document */
#footer{
	background:#CCC;
	padding:10px;
	margin-top:50px;
}
#naviDiv {
	background-color: #F30;
	height: 35px;
	margin-top:10px;
}
#content{
	height: 450px;
	width: 960px;
	border: 1px solid RGB(249,178,0);
	margin-left:194px;
	margin-top:5px;
}
input{
	text-align:center;
	width:120px;
	height:20px;
	background:url(../pic/textarea.png);
}
td{
	padding:10px;
}
#isonsale{
	width:auto;
}
.number{
	width:35px;
	background:url(../pic/numberarea.png);
}
#content div table {
	border: 2px solid #F60;
}
.submit{
	width:60px;
	height:30px;
	margin-right:50px;
	background:RGB(249,178,0);
	font:"微软雅黑 Light";
}
.search{
	width:auto;
	margin-left:40px;
	background:RGB(249,178,0);
}
